.effects {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: lower-roman;
    box-sizing: border-box;
    background-color: skyblue;
}